
body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.quiz{
        width: 500px;
        height: 250px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
h3{
    color: #08ffd1;
}
p{
    margin-top: 0px;
    color: rgb(240, 240, 244);
    font-size: 17px;
}

#take_quiz{
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(235, 235, 243);

}
