<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="/static/styles.css"></head>
<body>
    <h2>Sentiment Prediction</h2><br>
    <div class="quiz">
    <form id="take_quiz" method="post" action = "/take_quiz">
      
        <h3>Select Subject</h3>
        <select name="select_subject">
        <option value="Computer Network">Computer Network</option>
        <option value="Random Forest">Random Forest</option>
        </select><br><br>

        <input type="submit" name="take_quiz" id="take_quiz" value="Take Quiz">
        <br><br>
    </form>
    {% if mcq %}
        {% for row in mcq %}
        {% endfor %}
        <p id="sentiment_label">{{selected_model}} model predicted: {{ sentiment_label }}</p>

    {% endif %}
</div>
</body>
</html>