<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h2>Take a quiz</h2><br>
    <div class="quiz">
        <form id="take_quiz" method="post" action="">
            <p>{{question}}</p><br>

            <input type="radio" name="option" id="option1" value="{{option_a}}">
            <label for="option1">{{option_a}}</label><br>
        
            <input type="radio" name="option" id="option2" value="{{option_b}}">
            <label for="option2">{{option_b}}</label><br>
        
            <input type="radio" name="option" id="option3" value="{{option_c}}">
            <label for="option3">{{option_c}}</label><br>
        
            <input type="radio" name="option" id="option4" value="{{option_d}}">
            <label for="option4">{{option_d}}</label><br>

            <input type="submit" value="Check Answer" name="action">
            {% if result %}
                <p>{{result}}</p>
                <input type="submit" value="Next Question" name="action">

            {% endif %}
            <br><br>
        </form>
    </div>
</body>
</html>
